<!DOCTYPE html>
<html ng-app="ticTacToeApp">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">	
		<title>
			Chris Mathew - Tic-Tac-Toe Demo
		</title>
		<link rel="stylesheet" type="text/css" href="styles/main.css">
		
		<script src="scripts/angular.js" type="text/javascript"></script>		
		<script src="app.js" type="text/javascript"></script>		
		
		<script src="scripts/services/player.js" type="text/javascript"></script>		
		<script src="scripts/services/game.js" type="text/javascript"></script>		
		
		<script src="scripts/controllers/welcome.js" type="text/javascript"></script>
		<script src="scripts/controllers/game.js" type="text/javascript"></script>	
		
		<script src="scripts/directives/board_square.js" type="text/javascript"></script>		
	</head>
	<body>
		<h1>Welcome to Tic-Tac-Toe!</h1>
		<div class="board" ng-controller="WelcomeCtrl as welCtrl">
			<form ng-submit="welCtrl.startGame()" ng-if="!gameSettings.started">
				<label for="grid-size">Grid size</label>
				<input type="text" ng-pattern="/^\d+$/" id="grid-size" name="grid-size" ng-model="gameSettings.size"/>
				<input type="submit"></input>
			</form>
		</div>
		<ul class="board"  ng-controller="GameCtrl">
			<li class="board-row" ng-repeat="row in game.rows">
				<ul>
					<li class="board-square" ng-repeat="col in row">
						<board-square player="{{col.player}}"></board-square>
					</li>
				</ul>
			</li>
		</ul>
	</body>
</html>
