.board {
	list-style: none;
}

.player-symbol.x {
	color: gray;
}

.board-row-content {
	/*fix for inline-block spacing */
	font-size: 0;
	/* start new float context for each row */
	clear: both;
}

.board-square {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	float: left;
	display: inline-block;
	list-style: none;
}

.square-content {
	font-size: 54px;
	width: 100%;
	height: 100%;
}